.search {
	margin: 30px 0 20px;
}

.pagination {
	margin: 20px 0;
}

.MuiTableCell-head {
	font-weight: bold !important;
	cursor: pointer;
}

.MuiTableCell-head .MuiSvgIcon-root {
	margin-bottom: -7px;
}

body {
	background-color: #f3f6f8;
}

.MuiTable-root {
	background-color: white;
}